div.msg_bbl {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  color: #555;
  margin-bottom: 5px;
}

.title-font{
  font-family: 'Dancing Script', cursive;
  font-size: 42px;
  color: #F50057;
  font-weight: 500;
}
.msg-container{
  border: 1px solid #4581AF; 
  border-radius: 30px;
  height: 60vh;
  overflow:scroll;
  padding-top: 20px; 
}
.min-height{
  min-height: 2000px;
}
.control{
  margin-top: 20px;
}
button{
  background: none;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.form-control{
  min-height: 52px;
  font-size: 17px;
  line-height: 20px;
  padding: 0 15px;
  border: 2px solid #C9C9C9;
  box-shadow: none !important;
}
.form-control:focus {
  border-color: #52BAD5;
}